<a href="https://colab.research.google.com/github/016HaiderAli/Python/blob/master/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Piece of Resuable code
#Used to perform a particular task
#Example Height of family
fam = [1.71, 1.62, 1.60, 1.55, 1.91]
fam

[1.71, 1.62, 1.6, 1.55, 1.91]

In [3]:
type(fam)

list

In [4]:
max(fam)

1.91

In [5]:
tallest =max(fam)
tallest

1.91

In [6]:
round(1.55,1) #this means to round the number 1.55 upto one decimal place. lets see

1.6

In [7]:
#Now, lets test round func with only one input
round(1.55)

2

In [9]:
help(round) #Command help() gives you documented description about a particular function

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [10]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1
print(type(var1))

# Print out length of var1
print(len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)

<class 'list'>
4

In [11]:
out2

1

In [13]:
#MULTIPLE ARGUMENTS - USING SORTED FUNC
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, key=None, reverse=True)

# Print out full_sorted
full_sorted

[20.0, 18.0, 11.25, 10.75, 9.5]

In [15]:
#Values assigned to variables are called Object.
#Methods: Functions that belongs to object
fam.index(1.91)   #tells that value 1.91 is located at the index

4

In [19]:
fam.count(1.91) #tells that value 1.91 is located only 1 time in the list fam

1

In [20]:
name = "haider"

In [21]:
name.capitalize()

'Haider'

In [22]:
name.replace('d', 'th')

'haither'

In [23]:
# string to experiment with: place
place = "poolhouse"

# Use upper() on place: place_up
place_up = place.upper()

# Print out place and place_up
print(place)
print(place_up)

# Print out the number of o's in place
print(place.count("o"))

poolhouse
POOLHOUSE
3

In [24]:
#LIST METHODS
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 9.50 appears in areas
print(areas.count(9.50))

2
1

List Methods (2)
Most list methods will change the list they're called on. Examples are:

append(), that adds an element to the list it is called on, <br>
remove(), that removes the first element of a list that matches the input, <br> and <br>
reverse(), that reverses the order of the elements in the list it is called on.
You'll be working on the list with the area of different parts of the house: areas.

In [25]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]