In [1]:
list1 = [1, 2, 3, 4, 5]
list1[0] = 10
print(list1)

[10, 2, 3, 4, 5]

In [12]:
#Which of the following will reverse list1=[2,5,3,1]?
#######0,1,2,3,4,5,6,7,8 
list1=[2,5,3,1,7,6,4, 11]
print(list1[:])
#syntax of list = [start : stop : step ]
# print(list1[::-1]) #reverse the order of list
print(list1[:7:5]) #display the list with the gap of 3

[2, 5, 3, 1, 7, 6, 4, 11]
[2, 6]

In [14]:
numbers = [1, 2, 3, 4, 5]
numbers[4] = 6
print(numbers[4])

6

In [17]:
list1 = [10, 11, 12, 13, 14]
print(list1[::3])

[10, 13]

In [4]:
countries = ['Pakistan', 'India', 'China', 'Iraq', 'Iran']
#list.append(value) inserts a value at the end of list
countries.append('Syria')
print(countries)
#list.insert(index, value) inserts a value in between 
countries.insert(1, 'Russia')
print(countries)

['Pakistan', 'India', 'China', 'Iraq', 'Iran', 'Syria']
['Pakistan', 'Russia', 'India', 'China', 'Iraq', 'Iran', 'Syria']

In [5]:
#swapping 
city = ['Karachi', 'Sahiwal']
city[0], city[1] = city[1], city[0]
print(city)

['Sahiwal', 'Karachi']

In [13]:
#Two more methods of list

#list.sort() #sorts the list in ascending order by default
order = [65, 61, 67, 254]
#order.sort()
#print(order)

#list.reverse() #reverse the sequence of elements in a list
order.reverse()
print(order)

[254, 67, 61, 65]

In [14]:
#max() function
list1=["Go","Java","C","Python"]
print(max(list1))

Python

In [1]:
#min() function
list1=["Go","Java","C","Python"]
print(min(list1))

C

In [2]:
list1 = [4, 4, 3, 1]
list1.pop(2)
print(list1)

[4, 4, 1]

In [3]:
ages = [56, 72, 24, 46]
ages.sort()
print(ages)

[24, 46, 56, 72]

In [14]:
list1=['UK','India','Canada']

#insert(index, value)
list1.insert( 1 , 8 )

print(list1)
print(type(list1[1]))

['UK', 8, 'India', 'Canada']
<class 'int'>

In [15]:
num = [4, 4, 3, 1]
num.reverse()
print(num)

[1, 3, 4, 4]